.wrapper {
	margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin, .form-register {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.form-signin-heading, form-register-heading{
	  margin-bottom: 30px;
}

.errorlist{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding-right: 35px;
}

ul.errorlist{
    list-style-type: none;
}

p.error > textarea , p.error > input , p.error > select {
    border: 4px solid transparent;
    border-radius: 4px;
    border-color: #ebccd1;
}

