html, body, .container {
    height: 100%;
}

.no_border{
    border: none !important
}

.card-text{
    margin: 25px auto;
}

footer{
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.mb-8{
    margin-bottom: 8rem !important;
}

.mt-6{
    margin-top: 6rem !important;
}